<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="forget-password.component.css">
</head>
<body>
	<form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">
    	<div class="container">
	    	<div class="form">
	       		<div class="input_field">
			 		<p>Enter your user account's verified email address and  we will send you a password reset link.</p>
			 		<input type="text" placeholder="Enter your email address" class="input">
		   		</div>
				<div class="btn">
					<input type="submit" value="Send password reset email" class="reset_btn">
				</div>
    		</div>
		</div>	
	</form>
</body>
</html>