<!DOCTYPE html>
<html lang="en">
<body>
	<form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">
    	<div class="container">
	    	<div class="form">
	       		<div class="input_field">
			 		<p>Enter your user account's verified email address and  we will send you a password reset link.</p>
			 		<input type="text" name="email" placeholder="Enter your email address" class="input" formControlName="email">
		   		</div>
				<div class="btn">
					<input type="submit" value="Send password reset email" class="reset_btn">
				</div>
    		</div>
		</div>	
	</form>
</body>
</html>