<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="login.component.css">
</head>
<body>
	<form [formGroup]="loginForm" (ngSubmit)="login()">
		<div class="container">
			<div class="title">
			<p>Login</p>
		</div>
		<div class="form">
	    	<div class="input_field">
				<label>Username or email address</label>
				<input type="text" name="email" placeholder="email" class="input" formControlName="email">
			</div>
			<div class="input_field">
				<label>Password</label>
				<input type="password" name="password" placeholder="password" class="input" formControlName="password">
				<!--<a href="../forget-password/forget-password.component.html" class="forgot">Forgot password?</a>-->
				<div>
					<a [routerLink]="'/forgetPassword'">forget password</a>
				</div>
			</div>
			<div class="btn">
				<input type="submit" value="Sign In" class="sign_btn">
			</div>
			<p>------------------------------OR-----------------------------</p>
			<div align = "center">
				<button type="button" (click) = "signInWithGoogle()" style="border: none; background: none; padding: none;">
					<img src="../../../assets/Google.png" style="width: 270px; height: 40px;">
				</button>
				<p>------------------------------OR-----------------------------</p>
				<button type="button" (click) = "signInWithGoogle()" style="border: none; background: none; padding: none;">
					<img src="../../../assets/Facebook.png" style="width: 270px; height: 40px;">
				</button>
				<p>------------------------------OR-----------------------------</p>
				<button type="button" (click) = "signInWithGoogle()" style="border: none; background: none; padding: none;">
					<img src="../../../assets/Twitter.png" style="width: 275px; height: 40px;">
				</button>			
			</div>
			<p>------------------------------OR-----------------------------</p>
			<div align="center">
				<a [routerLink]="'/register'">Click here for Registration</a>
			</div>
    	</div>
		</div>	
	</form>
</body>
</html>